In [1]:
import pandas as pd
import numpy as np

In [2]:
cluster_data=pd.read_csv('clustering_1.txt',sep=" ", header=None, names=['index','cluster'])

In [3]:
cluster_data.head()

   index  cluster
0      1        2
1      2        0
2      3        2
3      4        1
4      5        2

In [4]:
truth_data=pd.read_csv('partitions.txt',sep=" ", header=None, names=['index','truth'])

In [5]:
df=cluster_data.set_index('index').join(truth_data.set_index('index'))

In [6]:
df.head()

       cluster  truth
index
1            2      2
2            0      0
3            2      2
4            1      1
5            2      2

In [7]:
N_ct=df.groupby(['cluster','truth']).size().to_dict()

In [8]:
N_ct

{(0, 0): 98,
 (0, 1): 2,
 (1, 0): 1,
 (1, 1): 97,
 (1, 2): 2,
 (2, 0): 1,
 (2, 1): 1,
 (2, 2): 98}

In [9]:
N_c=df.groupby(['cluster']).size().to_dict()

In [10]:
N_c

{0: 100, 1: 100, 2: 100}

In [11]:
N_t=df.groupby(['truth']).size().to_dict()

In [12]:
N_t

{0: 100, 1: 100, 2: 100}

In [13]:
HC=0
HT=0
ICT=0
n=300
for i in range(3):
    HC+=-(N_c[i]/n)*np.log(N_c[i]/n)
    for j in range(3):
        HT+=-(N_t[j]/n)*np.log(N_t[j]/n)
        if (i,j) in N_ct:
            ICT+=N_ct[(i,j)]/n*np.log(N_ct[(i,j)]/(n*(N_c[i]/n)*(N_t[j]/n)))
        
NMI=ICT/np.sqrt(HC*HT/3)
print(NMI)

0.8896247665800591

In [14]:
def combination(n, k):
    """ Code for combination formula i.e. "n choose k" """
    from math import factorial
    return 0 if n<k else factorial(n) / (factorial(n - k) * factorial(k))

In [15]:
TP=0
FP=0
FN=0
Comb_i=0
Comb_j=0
Comb_ij=0
n=300
N=combination(n,2)
for i in range(3):
    Comb_i+=combination(N_c[i],2)
    for j in range(3):
        Comb_j+=combination(N_t[j],2)
        if (i,j) in N_ct:
            Comb_ij+=combination(N_ct[(i,j)],2)
            
TP = Comb_ij
FP = Comb_i-TP
FN = Comb_j/3-TP
Jaccard=TP/(TP+FP+FN)
print(Jaccard)

0.9116889804325438